PORT=3000
APS_CLIENT_ID=77JdRTp7YI52AeY6HMTXdRdsTunUGbZGQGXAvlvK7EnrZd6N
APS_CLIENT_SECRET=GvqG7Mvs6cpqG8LCeuFUo3Zwq30ogEEk6PQIeeJxIzTO4A6T7hNnKZpDid2j16v1
APS_CALLBACK_URL=https://acc-backend-y3es.onrender.com/auth/callback

